/* Footer Callout Section */
.footer-callout {
    /* padding: 20px; */
    margin: 30px 0 0 0;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    /* width: 100%; */
    display: flex;
}

.footer-callout-image {
	float: left;
	width: 0%;
	overflow: hidden;
}

.footer-callout-image img {
	transition: all .45s ease-out;
}

.footer-callout-image img:hover {
	opacity: .8;
	transform: scale(1.25) rotate(5deg);
}


.footer-callout-text {
    width: 40%;
    margin: 0 auto;
      position: relative;
      text-transform: uppercase;
      font-size: 15px;
      text-align: center;
}

.footer-callout-text h2 {
color: black;
    margin-top: 30px;
    padding: 0;
}

.footer-callout-text h2 a {
	color: #333;
	text-decoration: none;
}

.footer-callout-text h2 a:hover {
	text-decoration: underline;
}

.footer-callout-text p {
	font-size: .9rem;
}
button.aboutbutton { 
    width: 40%;
  height: 40px;
  border-style: solid;
  border-color: grey;
  background-color: transparent;
  color: black;
  font-weight: bold;
  margin-top: 35px;
  cursor: pointer;
  z-index: 0;
  transition: all 0.7s;
    margin-bottom: 25px;
}
button.aboutbutton:hover {
    color: black;
    background-color: #878787;
    border-color: #878787;
}

