

/* Side Column */
.side-column {
	width: 30%;
	float: right;
        margin-right: 75px;
    }

.side-column .widget-item {
	border-bottom: 1px solid #DDD;
	padding-bottom: 20px;
	margin-bottom: 20px;
    margin-top: 20px;
}

h2.widget-title {
	font-weight: normal;
	margin-bottom: 10px;
	color: #888;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 138%;
}

.widget-item ul {
	margin: 0;
	padding: 0;
}

.widget-item ul li {
	list-style-position: inside;
	line-height: 1.65em;
}

.widget-item p:last-child {
	margin: 0;
}

/* Search */
div.hd-search {
	float: right;
}

div.hd-search label {
	position: absolute;
	left: -9999px;
}

div.hd-search #searchsubmit {
	background-color: white;
	color: #FFF;
	padding: 5px 14px;
	border: none;
	vertical-align: top;
}

div.hd-search #s {
	vertical-align: top;
	padding: 3px 0;
}

#searchsubmit {
      width: 30%;
  background-color: #212020;
  text-transform: uppercase;
  color: white;
  height: 21px;
  border-style: hidden;
    
}

@media only screen and (max-width: 468px) {
    
    
    
}

@media only screen and (max-width: 768px) {
    
    .side-column {
    width: 70%;
    float: none;
    margin: 0 auto;
}
    
}
